*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


body
{

    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
   

}

.flip{
    position: relative;
    text-align: center;
    display:inline-flex;
    padding-inline-end: 20px;

  
}



.front,.back{
    width:300px;
    height:400px;
    border-radius: 15px;
    background-color:rgb(238, 243, 246);
    display: block;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

   

}

.front{
    background-image: url(../img/front.jpg);
    background-size:cover;
    background-position:center;
    box-shadow:0 5px 20px rgb(136, 136, 175);
    transform:rotateY(0);
}

.back{
    display:flex;
    align-items: center;
 
    flex-direction: column;
    padding: 10px;
    position: absolute;
    top:0;
    left:0;
    opacity:0;
    transform: rotateY(-180deg);
    


}

.flip:hover .front{
    transform:rotateY(180deg);

}

.flip:hover .back{
    transform: rotateY(0deg);
    opacity: 1;
}

.back h2{
    color: rgb(31, 7, 248);

}

.back h5{
    color:cadetblue;
    
   
}






